<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to Epica News Highlights </title>
    {% endif %}
</head>

<body>
    <h1>{{ text }} </h1>

    <!-- News highlight section  -->
    <h3> News Highlights</h3>
    <ul>
        {% for highlight in entertainment %}
        <li>{{ highlight.title}}</li>
        {% endfor %}
    </ul>

</body>

</html>